{% extends 'base.html.twig' %}

{% block title %}Admin{% endblock %}
{% block monTitre %}Page d'administration des types{% endblock %}
{% block body %}

{%  for message in app.flashes('success') %}
<div class="alert alert-success text-center">
    {{ message }}
</div>
{% endfor %}
<div class="row justify-content-center mt-5 mb-3">
    <div class="col-6 d-flex justify-content-center">
        <a class="btn btn-success text-white" href="{{ path('adminTypesAjout') }}">Ajouter un type</a>
    </div>
</div>
<div class="row justify-content-center">
    <div class="col-lg-6 col-md-6 col-sm-6">
        <table class="table table-responsive text-center">
            <tr class="table-info">
                <th>Image</th>
                <th>Type</th>
                <th colspan="2">Actions</th>
                <th></th>
            </tr>
            {% for type in types %}
            <tr>
                <td>
                    <img src="{{ asset('images/types/' ~ type.image) }}" style="width:70%;" />
                </td>
                <td>{{ type.libelle }}</td>
                <td>
                    <a class="btn btn-warning mb-1"
                        href="{{ path('adminTypesModif', {'id' : type.id}) }}">Modifier</a>
                </td>
                <td>
                    <form method="POST" action="{{ path('adminTypesSuppression', {'id' : type.id}) }}"
                        onsubmit="return confirm('Confirmer la suppression ?')">
                        <input type="hidden" name="_method" value="delete" />
                        <input type="hidden" name="_token" value="{{ csrf_token('SUP' ~ type.id) }}" />
                        <input type="submit" class="btn btn-danger" value="Supprimer" />
                    </form>
                </td>
            </tr>
            {% endfor %}
        </table>
    </div>
</div>


{% endblock %}
